// .home{
//   display: flex;
//   height: 100vh;

//   .homeContainer{
//     background-color: lightblue;
//     flex:6;
//   }
// }

.homeContainer {
  // background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
  background-color: #343f58;
  flex: 6;
}

.btn {
  margin: 0 auto;
  border: none;
  outline: none;
  padding: 0.75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(134, 49, 0);
  color: #000000;
}

// widgets

.widgets,
.main {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.main {
  padding: 5px 20px;
}
